<header>
    <h1>Abhinav Keesara's Agile Koala | ITIS 3135</h1>

    <nav>
        <a href="../index.html">Home</a> |
        <a href="contract.html">Course Contract</a> |
        <a href="certifications.html">Certifications</a> |
        <a href="index.html">ITIS3135</a> |
        <a href="survey.html">Survey</a> |
        <a href="gallery.html">Gallery</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="instructions.html">Instructions</a> |
        <a href="highlight.html">Highlight</a>
    </nav>

    <br>
    <nav>
        <a href="stuff/CRAPpy.htm">CRAPpy Page</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="hobby/index.html">Hobby</a> |
        <a href="intro_form.html">Intro Form</a> | 
        <a href="project_overview.html"> Project Overview</a> |
        <a href="project/index.html">Project</a> |
        <a href="review1.html">Review 1</a> |
        <a href="review2.html">Review 2</a>
    </nav>
</header>